.success {
  background-color: #c6d0c6;
  border: 1px solid green;
  color: green;
}

.error {
  background-color: #ecdbdb;
  border: 1px solid red;
  color: red;
}

.foo-bar {
  font-weight: bold;
}
